n8n/workflows/case-notify-fanout.json
{
  "name": "Nyaya AI — Verdict Notification (fan-out)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "case-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -460,
        0
      ],
      "id": "wh",
      "name": "Webhook (verdict)",
      "webhookId": "case-notify"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst caseId = String(body.case_id || 'unknown');\nconst court  = body.court_level || 'district';\nconst sections = (body.applicable_sections || []).join(', ');\nconst verdict  = (body.final_judgment || '').slice(0, 280);\nconst userEmail = body.user_email || '';\n\nconst subject = `Nyaya AI — ${court.toUpperCase()} court verdict (case ${caseId.slice(0,8)})`;\nconst plain   = `Court level: ${court}\\nApplicable sections: ${sections}\\n\\nVerdict:\\n${verdict}`;\nconst html    = `<h2>${subject}</h2><p><b>Court level:</b> ${court}</p><p><b>Applicable sections:</b> ${sections}</p><pre>${verdict}</pre>`;\n\nreturn [{ json: { subject, plain, html, caseId, court, sections, verdict, userEmail } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "id": "fmt",
      "name": "Format notification"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        60,
        -260
      ],
      "id": "email",
      "name": "Email (placeholder — wire Gmail/SMTP)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        60,
        -80
      ],
      "id": "slack",
      "name": "Slack (placeholder — wire Slack node)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $env.TELEGRAM_CHAT_ID,\n  text: '⚖️ *' + $json.subject + '*\\n\\n*Court level:* ' + $json.court + '\\n*Applicable sections:* ' + ($json.sections || '—') + '\\n\\n*Verdict:*\\n```\\n' + $json.verdict + '\\n```',\n  parse_mode: 'Markdown'\n}) }}",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        60,
        100
      ],
      "id": "telegram",
      "name": "Telegram (sendMessage)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        60,
        280
      ],
      "id": "whatsapp",
      "name": "WhatsApp (placeholder — wire WhatsApp Business)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, case_id: $('Format notification').item.json.caseId }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        0
      ],
      "id": "ack",
      "name": "Acknowledge"
    }
  ],
  "connections": {
    "Webhook (verdict)": {
      "main": [
        [
          {
            "node": "Format notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format notification": {
      "main": [
        [
          {
            "node": "Email (placeholder — wire Gmail/SMTP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack (placeholder — wire Slack node)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram (sendMessage)",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp (placeholder — wire WhatsApp Business)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email (placeholder — wire Gmail/SMTP)": {
      "main": [
        [
          {
            "node": "Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack (placeholder — wire Slack node)": {
      "main": [
        [
          {
            "node": "Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram (sendMessage)": {
      "main": [
        [
          {
            "node": "Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp (placeholder — wire WhatsApp Business)": {
      "main": [
        [
          {
            "node": "Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler"
  }
}