n8n/workflows/eval-cron.json
{
  "name": "Nyaya AI — Daily Evaluation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 24, "triggerAtHour": 9 }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-360, 0],
      "id": "cron",
      "name": "Every morning 09:00 IST"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/admin/run-eval",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"X-Internal-Key\": \"{{ $env.ADMIN_INTERNAL_KEY }}\" }",
        "options": { "timeout": 900000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-120, 0],
      "id": "run",
      "name": "POST /api/admin/run-eval"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/api/eval/latest",
        "options": { "timeout": 20000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [120, 0],
      "id": "fetch",
      "name": "Fetch latest eval result"
    },
    {
      "parameters": {
        "jsCode": "const r = $json || {};\nconst msg = `Nyaya AI eval — precision@k ${((r.precision_at_k||0)*100).toFixed(1)}%, verified ${((r.citation_verified_rate||0)*100).toFixed(1)}%, p50 ${Math.round(r.latency_ms_p50||0)}ms (n=${r.total||0})`;\nreturn [{ json: { message: msg, run: r } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 0],
      "id": "summarise",
      "name": "Build digest message"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [600, 0],
      "id": "notify",
      "name": "Send digest (wire Email/Slack)"
    }
  ],
  "connections": {
    "Every morning 09:00 IST":   { "main": [[{ "node": "POST /api/admin/run-eval", "type": "main", "index": 0 }]] },
    "POST /api/admin/run-eval":  { "main": [[{ "node": "Fetch latest eval result", "type": "main", "index": 0 }]] },
    "Fetch latest eval result":  { "main": [[{ "node": "Build digest message", "type": "main", "index": 0 }]] },
    "Build digest message":      { "main": [[{ "node": "Send digest (wire Email/Slack)", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "errorWorkflow": "error-handler" }
}
