n8n/workflows/graph-rebuild-cron.json
{
  "name": "Nyaya AI — Weekly LegalGraph Rebuild",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "weeks", "weeksInterval": 1, "triggerAtDay": [0], "triggerAtHour": 3 }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-300, 0],
      "id": "cron",
      "name": "Weekly Sunday 03:00 IST"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/admin/rebuild-graph",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"X-Internal-Key\": \"{{ $env.ADMIN_INTERNAL_KEY }}\" }",
        "options": { "timeout": 600000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-60, 0],
      "id": "rebuild",
      "name": "POST /api/admin/rebuild-graph"
    },
    {
      "parameters": {
        "jsCode": "const r = $json || {};\nconst stats = r.graph || {};\nreturn [{ json: { message: `LegalGraph rebuilt: ${stats.sections||0} nodes, ${stats.edges||0} edges`, ok: r.ok === true, stats }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "summarise",
      "name": "Summarise"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [440, 0],
      "id": "notify",
      "name": "Notify admin (wire Email/Slack)"
    }
  ],
  "connections": {
    "Weekly Sunday 03:00 IST":      { "main": [[{ "node": "POST /api/admin/rebuild-graph", "type": "main", "index": 0 }]] },
    "POST /api/admin/rebuild-graph":{ "main": [[{ "node": "Summarise", "type": "main", "index": 0 }]] },
    "Summarise":                    { "main": [[{ "node": "Notify admin (wire Email/Slack)", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "errorWorkflow": "error-handler" }
}
