n8n/workflows/workflows/fir-human-approval.json
{
  "name": "Nyaya AI — FIR Approval (send)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fir-approve",
        "responseMode": "onReceived",
        "responseData": "={{ JSON.stringify({ ok: true, status: 'pending_approval' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-540, 0],
      "id": "wh-in",
      "name": "Webhook (draft FIR from backend)",
      "webhookId": "fir-approve"
    },
    {
      "parameters": {
        "jsCode": "// Telegram callback_data is limited to 64 bytes. UUID + 'approve:' fits easily.\nconst body = $json.body || $json;\nreturn [{ json: {\n  record_id:        body.record_id,\n  complainant_name: body.complainant_name,\n  incident_date:    body.incident_date,\n  fir_excerpt:      (body.fir_text || '').slice(0, 700),\n  approveData:      'approve:' + body.record_id,\n  rejectData:       'reject:'  + body.record_id\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 0],
      "id": "prep",
      "name": "Prepare callback data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $env.TELEGRAM_CHAT_ID,\n  text: '📋 *FIR Pending Review*\\n\\n*Complainant:* ' + $json.complainant_name + '\\n*Incident Date:* ' + $json.incident_date + '\\n*Record ID:* `' + $json.record_id + '`\\n\\n*Drafted FIR (excerpt):*\\n```\\n' + $json.fir_excerpt + '\\n```\\n\\nReview the draft above and tap a button below.',\n  parse_mode: 'Markdown',\n  reply_markup: {\n    inline_keyboard: [[\n      { text: '✅ Approve', callback_data: $json.approveData },\n      { text: '❌ Reject',  callback_data: $json.rejectData  }\n    ]]\n  }\n}) }}",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-100, 0],
      "id": "telegram-notify",
      "name": "Send Telegram message with callback buttons"
    }
  ],
  "connections": {
    "Webhook (draft FIR from backend)": {
      "main": [[ { "node": "Prepare callback data", "type": "main", "index": 0 } ]]
    },
    "Prepare callback data": {
      "main": [[ { "node": "Send Telegram message with callback buttons", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
