n8n/workflows/workflows/fir-callback-handler.json
{
  "name": "Nyaya AI — FIR Callback Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-callback",
        "responseMode": "onReceived",
        "responseData": "OK",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-640, 0],
      "id": "wh-cb",
      "name": "Webhook (Telegram callback)",
      "webhookId": "telegram-callback"
    },
    {
      "parameters": {
        "jsCode": "// Parse Telegram's callback_query update.\n// Expected callback_data format: 'approve:<record_id>' or 'reject:<record_id>'\nconst body = $json.body || $json;\nconst cb = body && body.callback_query;\nif (!cb || !cb.data) {\n  // Not a callback_query (Telegram also sends other update types) — exit quietly.\n  return [];\n}\nconst [decision, recordId] = cb.data.split(':');\nif (!recordId || (decision !== 'approve' && decision !== 'reject')) {\n  return [];\n}\nconst from = cb.from || {};\nconst reviewerName = ((from.first_name || '') + ' ' + (from.last_name || '')).trim() || from.username || 'reviewer';\nconst nowIST = new Date().toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', hour12: false, dateStyle: 'short', timeStyle: 'short' });\n\nreturn [{ json: {\n  decision,\n  recordId,\n  reviewerName,\n  nowIST,\n  callback_id: cb.id,\n  message_id:  cb.message ? cb.message.message_id : null,\n  chat_id:     cb.message && cb.message.chat ? cb.message.chat.id : null,\n  original_text: cb.message ? (cb.message.text || '') : ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 0],
      "id": "parse",
      "name": "Parse callback data"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.BACKEND_URL || 'http://backend:8000' }}/api/internal/fir/{{ $json.recordId }}/approval",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"Content-Type\": \"application/json\", \"X-Internal-Key\": \"{{ $env.ADMIN_INTERNAL_KEY || $env.INTERNAL_CALLBACK_KEY || '' }}\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"{{ $json.decision }}d\", \"reviewer\": \"{{ $json.reviewerName }}\" }",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-200, 0],
      "id": "callback-backend",
      "name": "Update backend FIR status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageText",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id:    $('Parse callback data').item.json.chat_id,\n  message_id: $('Parse callback data').item.json.message_id,\n  text: ($('Parse callback data').item.json.decision === 'approve' ? '✅ ' : '❌ ')\n        + 'FIR ' + $('Parse callback data').item.json.decision + 'd'\n        + ' by ' + $('Parse callback data').item.json.reviewerName\n        + ' at ' + $('Parse callback data').item.json.nowIST + ' IST'\n        + '\\n\\nRecord ID: `' + $('Parse callback data').item.json.recordId + '`',\n  parse_mode: 'Markdown'\n}) }}",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [20, 0],
      "id": "edit-msg",
      "name": "Edit Telegram message in place"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  callback_query_id: $('Parse callback data').item.json.callback_id,\n  text: 'Recorded — thanks!',\n  show_alert: false\n}) }}",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [240, 0],
      "id": "ack-cb",
      "name": "Acknowledge callback (dismiss spinner)"
    }
  ],
  "connections": {
    "Webhook (Telegram callback)": {
      "main": [[ { "node": "Parse callback data", "type": "main", "index": 0 } ]]
    },
    "Parse callback data": {
      "main": [[ { "node": "Update backend FIR status", "type": "main", "index": 0 } ]]
    },
    "Update backend FIR status": {
      "main": [[ { "node": "Edit Telegram message in place", "type": "main", "index": 0 } ]]
    },
    "Edit Telegram message in place": {
      "main": [[ { "node": "Acknowledge callback (dismiss spinner)", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
